/* ===============================
   Fonts
================================ */

@font-face {

    font-family: "Vazir";

    src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");

    font-weight:400;

}


@font-face {

    font-family:"Vazir";

    src:url("../fonts/Vazirmatn-Medium.woff2") format("woff2");

    font-weight:500;

}


@font-face {

    font-family:"Vazir";

    src:url("../fonts/Vazirmatn-Bold.woff2") format("woff2");

    font-weight:700;

}

/* ===============================
   Reset
================================ */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
}
body{
    font-family:"Vazir",Arial,sans-serif;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background-image:url("../images/bc7.jpg");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
}

/* ===============================
   HEADER / NAVBAR
================================ */
.header{
    flex-shrink:0;
}


.navbar-container{

    min-height:20px;
    max-height: 70px;
    width:100%;
    background:#032503;

    padding:10px 25px;
    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:20px;

}




/* Logo */


.logo-section{


    display:flex;


    align-items:center;


    gap:15px;


    flex:1;


}


.logo-image img{

    width:100px;

    height:80px;

    /* object-fit:cover; */
    border-radius:5px;

}



.logo-text{


    color:white;


    display:flex;


    flex-direction:column;


    gap:5px;


}



.logo-text h3{

    font-size:18px;

}



.logo-text p{

    font-size:13px;

    color:#ddd;

}






/* Navbar buttons */


.nav-buttons{


    display:flex;


    align-items:center;


    justify-content:center;


    gap:20px;


    flex:1;


}




.nav-btn{


    display:flex;


    align-items:center;


    justify-content:center;


    gap:12px;


    min-width:150px;


    height:45px;


    padding:10px 20px;


    background:#1B4332;


    border-radius:10px;


    color:white;


    text-decoration:none;


    font-size:14px;


    transition:.2s;


}



.nav-btn:hover{


    transform:translateY(-3px);


    background:#256f52;


}



.nav-btn img{


    width:25px;


    height:25px;


}





/* Date Time */


.datetime-box{


    flex:1;


    display:flex;


    justify-content:flex-end;


    gap:10px;


}



.datetime-item{


    background:#1B4332;


    color:white;


    border-radius:10px;


    padding:10px 15px;


    display:flex;


    align-items:center;


    gap:10px;


    font-size:14px;


}



.datetime-item img{


    width:22px;

    height:22px;

}


/* ===============================
   MAIN LAYOUT
================================ */


.layout{
    flex:1;
    display:flex;
    flex-direction:row;
    gap:20px;
    padding:20px;
    min-height:0;
}


/* ===============================
   SIDEBAR
================================ */


.sidebar-container{

    width:260px;

    flex-shrink:0;
}

.sidebar{

    height:100%;
    background:linear-gradient(
        180deg,
        #ffffff,
        #eeeeee
    );

    border-radius:5px;

    padding:20px;


    box-shadow:
    0 10px 25px rgba(0,0,0,.15);


    display:flex;


    flex-direction:column;


    gap:35px;


}


.sidebar-header{

    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}



.sidebar-header h3{
    font-size:20px;
}



#search-input{

    width:100%;

    height:35px;

    border-radius:8px;

    border:1px solid #777;

    padding:5px 10px;

    font-family:inherit;
}

.sidebar-menu{

    display:flex;

    flex-direction:column;

    gap:20px;

}


.sidebar-btn{

    height:55px;

    display:flex;

    align-items:center;


    justify-content:center;


    border-radius:10px;


    background:#1473e6;


    color:white;


    text-decoration:none;


    font-weight:600;


    transition:.2s;


}


.sidebar-btn:hover{
    background:#095bbd;

    transform:translateY(-2px);
}



/* ===============================
   CONTENT
================================ */


.content-container{
    flex:1;
    min-width:0;
    background:
    linear-gradient(
        180deg,
        #ffffff,
        #f5f5f5
    );
    border-radius:5px;
    /* padding:10px; */
    box-shadow:
    0 10px 25px rgba(0,0,0,.15);
    overflow:auto;
}

/* ===============================
   FOOTER
================================ */


.footer{

    height:60px;
    flex-shrink:0;
    background:#032503;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

}

.footer-text{


    font-size:14px;


}





/* ===============================
   FLASH MESSAGE
================================ */


.flash-container{


    position:fixed;


    top:110px;


    left:50%;


    transform:translateX(-50%);


    z-index:1000;


}



.flash{


    min-width:350px;


    padding:15px 25px;


    margin-bottom:10px;


    border-radius:10px;


    text-align:center;


    color:white;


    font-weight:600;


}




.success{

    background:#198754;

}



.error{

    background:#dc3545;

}



.warning{

    background:#ffc107;

    color:#222;

}



.info{

    background:#0d6efd;

}







/* ===============================
   PROGRESS BAR
================================ */


#progress-container{


    display:none;


    position:fixed;


    top:50%;


    left:50%;


    transform:translate(-50%,-50%);


    width:350px;


    background:white;


    padding:20px;


    border-radius:15px;


    box-shadow:0 10px 30px rgba(0,0,0,.2);


}



#progress-message{


    text-align:center;


    margin-bottom:15px;


}



.progress-box{


    height:25px;


    background:#ddd;


    border-radius:15px;


    overflow:hidden;


}



#progress-bar{


    height:100%;


    width:0%;


    background:#198754;


    display:flex;


    justify-content:center;


    align-items:center;


    color:white;


    font-size:12px;


    transition:.3s;


}








/* ===============================
   Responsive
================================ */


@media(max-width:900px){

.layout{

    flex-direction:column;
}


.sidebar-container{
    width:100%;

}

.sidebar-menu{


    flex-direction:row;


    flex-wrap:wrap;

}


.sidebar-btn{


    flex:1;

}



.navbar-container{
    
    flex-direction:column;

}



.datetime-box{


    justify-content:center;


}



}
/* Firefox */
*{
    scrollbar-width:auto;
    scrollbar-color:#075d35 #ececec;
}

/* Chrome / Edge */

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-track{
    background:#ececec;
    border-radius:20px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(
        180deg,
        #198754,
        #146c43
    );
    border-radius:20px;
    border:2px solid #ececec;
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(
        180deg,
        #20a061,
        #198754
    );
}