<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        سامانه پذیرش فراگیران
        {% endblock %}
    </title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_2.css') }}">


    {% block extra_css %}
    {% endblock %}


</head>


<body>


<!-- ================= HEADER ================= -->

<header class="header">


    <div class="navbar-container">


        <!-- Logo Section -->

        <div class="logo-section">


            <div class="logo-image">

                <a href="{{ url_for('dashboard.dashboard') }}">

                    <img src="{{ url_for('static', filename='images/logo.jpg') }}"
                         alt="logo">

                </a>

            </div>



            <div class="logo-text">

                <h3>
                    سامانه ثبت و پذیرش فراگیران
                </h3>

                <p>
                    مدیریت دوره‌های آموزشی و فرآیند پذیرش
                </p>

            </div>


        </div>

        <!-- Navigation Buttons -->


        <nav class="nav-buttons">


            <a href="{{ url_for('dashboard.dashboard') }}" class="nav-btn">


                <span>
                    داشبورد
                </span>


                <img src="{{ url_for('static', filename='icons/home3.svg') }}"
                     alt="home">


            </a>




            <a href="{{ url_for('auth.logout') }}" class="nav-btn">


                <span>
                    خروج از حساب
                </span>


                <img src="{{ url_for('static', filename='icons/exit2.svg') }}"
                     alt="logout">


            </a>



        </nav>





        <!-- Date Time -->


        <div class="datetime-box">


            <div class="datetime-item">


                <img src="{{ url_for('static', filename='icons/date.svg') }}"
                     alt="date">


                <span>

                    {{ date }}

                </span>


            </div>




            <div class="datetime-item">


                <img src="{{ url_for('static', filename='icons/time.svg') }}"
                     alt="time">


                <span id="live-time">

                    {{ time }}

                </span>


            </div>



        </div>



    </div>



</header>





<!-- ================= FLASH MESSAGE ================= -->


{% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}


    <div class="flash-container">


    {% for category, message in messages %}


    <div class="flash {{ category }}">

        {{ message }}

    </div>


{% endfor %}


</div>


{% endif %}


{% endwith %}







<!-- ================= MAIN LAYOUT ================= -->


<div class="layout">





<!-- ================= SIDEBAR ================= -->


<aside class="sidebar-container">


<div class="sidebar">



    <div class="sidebar-header">


    <h3>
        گزینه‌ها
    </h3>


    <input type="text"
        id="search-input"
        placeholder="جستجو">


    </div>


    <div class="sidebar-menu">



    <a href="{{ url_for('course.create_course') }}"
    class="sidebar-btn">


        ایجاد دوره جدید


    </a>


    <a href="{{ url_for('reception.reception') }}"
    class="sidebar-btn">


        پذیرش


    </a>

    <a href="{{ url_for('dashboard.last_courses') }}"
    class="sidebar-btn">


        همه دوره‌ها


    </a>

    <a href="{{ url_for('dashboard.help') }}"
    class="sidebar-btn">
        راهنما
    </a>


     </div>

    </div>


</aside>


<!-- ================= PAGE CONTENT ================= -->


<main class="content-container">


{% block content %}

{% endblock %}



</main>



</div>


<!-- ================= FOOTER ================= -->

{% block footer %}
<footer class="footer">


<div class="footer-text">


سامانه ثبت و پذیرش فراگیران


</div>


</footer>
{% endblock %}
<!-- ================= PROGRESS BAR ================= -->


<div id="progress-container">


    <div id="progress-message">

    در حال پردازش...

    </div>


    <div class="progress-box">


    <div id="progress-bar">

    0%

    </div>


    </div>


</div>



<script>


// Auto hide flash messages

setTimeout(()=>{


document.querySelectorAll(".flash").forEach(
    
    item=>{

        item.style.display="none";

    }

);


},4000);


//real time function to get real time systemm
function updateClock(){

    let now = new Date();

    let hours = now.getHours();
    let minutes = now.getMinutes();
    let seconds = now.getSeconds();


    hours = String(hours).padStart(2, "0");
    minutes = String(minutes).padStart(2, "0");
    seconds = String(seconds).padStart(2, "0");


    let time =
        `${hours}:${minutes}:${seconds}`;


    document.getElementById("live-time").innerHTML = time;

}


setInterval(updateClock, 1000);


updateClock();

</script>





{% block extra_script %}

{% endblock %}



</body>


</html>