<!DOCTYPE html>
<html lang="en" lang="fa" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title dir="rtl">{% block title%}{% endblock  %}</title>
    <link rel="stylesheet" href="{{ url_for('static' ,filename='css/style.css')  }}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {# web site header #}
    <header>
        
        <div class="navbar-container" dir="rtl">

            <div class="logo-info" dir="rtc">
                <div id="logo">
                    <a href="/dashboard/">
                    <img style="width: 100px; height: 80px; display: flex; justify-content: center;border-radius: 10px;" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="">
                    </a>
                </div>
                <div id="logo-text">
                    <p style="font-size: 18px;">سامانه ثبت و پذیرش فراگیران</p><hr>
                    <p style="font-size: 14px;">مدیریت دورهای آموزشی و فرآیند پذیرش  Version 0.7</p>
                </div>
            </div>

            <div class="nav-buttons" dir="rtl">
                <div id="home">
                        <a href="/dashboard" style="text-decoration: none;"><button id="home-btn" type="button" >
                            <span style="color: white;">داشبورد</span>
                            <img style="width: 25px; height: 25px;" src="{{ url_for('static', filename='icons/home3.svg') }}" alt="home-button">
                        </button> </a>
                </div>
                <div id="exit">
                    <a href="/dashboard/logout" style="text-decoration: none;">
                        <button id="exit-btn">
                            <span style="color: white;">خروج از حساب کاربری</span>
                            <img style="width: 30px; height: 30px;" src="{{ url_for('static', filename='icons/exit2.svg') }}" alt="exit-button">
                        </button>
                    </a>
                </div>
            </div>

            <div class="date-time" dir="rtl">
                 <div class="user-info-box">
                
                
            </div>
                
                <div id="date">
                    
                    <span id="date-title">{{ date }}</span>
                    <img src="{{ url_for('static', filename='icons/date.svg') }}"  alt="date" width="25px; height:25px; ">
                </div>
                <div id="time">

                    <span id="live-time">{{ time }}</span>
                    <img src="{{ url_for('static', filename='icons/time.svg') }}" alt="time" width="25px; height25px;">

                </div>
            </div>


        </div>
       

    </header>

    {# web site body #}
    <main dir="rtl">
        {% block content %}
        {% endblock  %}
    </main><br><br>


    <footer dir="rtl">
        {% block footer %}
        {% endblock %}
    </footer>
    



    <script src="{{ url_for('static' , filename='js/script.js') }}"></script>
</body>
</html>