{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static' ,filename='css/dashboard_style.css') }}">
{% endblock %}


{% block content %}


{#vertical side bar  #}
<div class="side-bar" dir="rtl">

    {# side bar header  #}
    <div class="sidebar-header">
        <h2>گزینه ها</h2>
    </div>

    {# side-bar nav  #}
    <nav class="sidebar-nav">
        <ul>
            <div class="create-course"><a  class ="create-course-a" href="/dashboard/create_course/">ایجاد دوره جدید</a></div><br>
            <div class="reception"><a class ="reception-a" href="/dashboard/reception/">پذیرش</a></div><br>
            <div class="last-courses"><a class="last-courses-a" href="/dashboard/last_courses/">دوره های گذشته</a></div><br>
            <div class='logout'><a class="logout-a" href="/dashboard/logout/">خروج از حساب کاربری</a></div>
        </ul>

    </nav>
    {# side-bar content  #}
    <div class="sidebar-content">
        <h3>side bar content</h3>
    </div>

</div>

{# hold usage message  #}
<div dir="rtl" class="mian-container">
    <h3>راهنمای استفاده از سامانه پذیرش فراگیران - نسخه 0.3</h3><br> 
    <p>قابلیت های اصلی سامانه:</p><br>
    <ul><li>بخش ۱:‌ایجاد دوره جدید </li></ul>
    <p>اپراتور پذیرش باید قبل از شروع فرآیند پذیرش نسبت به ایجاد دوره مورد نظر در این بخش اقدام کند.به این صورت که برای هر دوره باید اپراتور مشخصات آن دوره را در این بخش وارد نموده و با دکمه ایجاد دوره آن را ایجاد کند <p style="color: red">پ.ن:اطلاعاتی از قبیل نوع گردان و گروهان| نام و کد دوره | در هر دوره آموزشی متغیر است</p></p><br>
    <ul><li>بخش۲: پذیرش</li></ul><br>
    <p>
در این بخش با توجه به اطلاعات وارد شده در <<ایجاد دوره>> فرآینده پذیرش صورت میگیرد.کاربر میتواند در همان ابتدا تعیین کند چه نوع فراگیری را پذیرش کند سپس سامانه به صورت خود کار تخصیص را انجام میدهد. با زدن دکمه ثبت پذیرش فراگیر به اتمام می رسد.</p><br>
    <ul><li>دوره های برگزار شده</li></ul><br>
    <p>در این قسمت هم میتواندمی توانید لیست دوره هایی که قبلا برگزار شده اند را مشاهده کنید</p><br>
    <ul><li>خروج</li></ul>
    <p>با انتخاب این گزینه کاربر(ادمین) از حساب کاربری خود خارج میشود.</p>
</div>

{% endblock %}