{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock  %}

{# ================================ main body content ============================================= #}
{% block content %}
<br><br><br>
<div class = 'welecom-login'>
    <h2>soldier reception system - V 0.0.2 </h2>
    <h3>Login to see dashboard</h3>
</div> <br>

<div class='login-box'>

    <div class='login-forms'>
        
        <input class= 'username-input' type="text" name= 'username' placeholder="Username"><br><br>
        
        <input class='password-input' type="pasword" name="password" placeholder="Password"> <br><br>
        
        <button class="submit-button" name="submit" type="submit">
            <b>Login</b>
        </button>
        

    </div>
</div>

 {% endblock content %}


{# ============================================ footer page ======================================= #}
 {% block footer %}
<nav class='foot-nav'>
            <ul class='foot-nav-links'>
                <li>About application</li><br><br>
                <li>About developer</li><br><br>
                <li>test link</li>
            </ul>

        </nav>
    {% endblock %}


 







