{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock  %}

{# ================================ main body content ============================================= #}
{% block content %}

<br><br><br>
<div class = 'welecom-login'>
    <h2> سامانه پذیرش و مدیریت سربازان آموزشی - نسخه ۰.۰۳ </h2><br>
    <h3>ورود به سامانه</h3>
</div> <br>

<div class='login-box'>

    <div class='login-forms'>
        <form action="/login/" method="POST">
            <input class= 'username-input' type="text" name= 'username' placeholder="نام کاربری"><br><br>
            
            <input class='password-input' type="pasword" name="password" placeholder="رمز عبور"> <br><br>
            
            <button class="submit-button" name="submit" type="submit">
                <b>ورود</b>
            </button>
        </form>
        

    </div>
</div>
{# ============= alert box (show errors) ===================== #}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{# =============================================================== #}

 {% endblock content %}


{# ============================================ footer page ======================================= #}
 {% block footer %}
<nav class='foot-nav'>
            <ul class='foot-nav-links'>
                <li>درباره اپلیکیشن</li><br><br>
                <li>درباره توسعه دهنده</li><br><br>
                <li>test link</li>
            </ul>

        </nav>
    {% endblock %}


 







